@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

:root {
  font-family: Antonio,  system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* background-image: url("./assets/background-stars.svg");
  background-position: center;
  background-size: cover; */
  background-color: #070724;
  color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Remove default padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
blockquote,
dl,
dd {
  padding: 0;
}

/* Set default font size and line height */
body {
  font-size: 16px;
  line-height: 1.5;
}

/* Remove border on images inside links */
a img {
  border: none;
}

/* Reset all anchor styling */
a, button, li, div {
  color: inherit;
  text-decoration: none;
  user-select: none; 
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

/* Remove default button styling */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.15;
  font-family: inherit;
  border-style: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Make inputs and buttons clickable in IE */
button,
input {
  overflow: visible;
}

/* Remove focus ring on buttons and links */
button:focus,
input:focus,
a:focus {
  outline: none;
}
